body {
  background-image: linear-gradient(180deg, #f6f4f8, #feeafa);
  color: #020d13;
}
header {
  margin: 50px;
  text-align: center;
  background-color: #feeafa;
  color: #677791;
  border-radius: 3px;
  border: 8px ridge #dee2ff;
  padding: 5px;
  box-shadow: 4px 4px 10px 5px #677791;
}
header h1 {
  color: #583a6d;
  text-shadow: 1px 1px 2px #a664b1;
}
